body{
    font-family: 'Poppins',sans-serif;
}
.banner{
    background-image: url(/portfolio/WhatsApp\ Image\ 2026-01-26\ at\ 3.02.53\ PM.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 250px 0;
}
.skills-padding{
    padding: 70px 0;
}